<!-- home_page.html -->

{% extends 'base.html' %}
{% load static %}











{% block header %}
    Домашняя страница
{% endblock %}







{% block menu %}
    <div class="col-12 d-flex flex-column align-items-center">

        <a href="{% url 'home_page' %}" class="d-none d-sm-flex flex-column align-items-center mb-3" style="text-decoration: none;">
            <div style="position: relative;">
                <img src="{% static 'images/active_ellipse.png' %}"/>
                <img src="{% static 'images/home_icon.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
            </div>
            <div class="text-main-button">Home</div>
        </a>

        <a href="{% url 'clients_page' %}" class="d-none d-sm-flex flex-column align-items-center mb-3" style="text-decoration: none;">
            <div style="position: relative;">
                <img src="{% static 'images/ellipse.png' %}"/>
                <img src="{% static 'images/clients_icon.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
            </div>
            <div class="text-main-button">Clients</div>
        </a>

        <a href="{% url 'updates_page' %}" class="d-none d-sm-flex flex-column align-items-center mb-3" style="text-decoration: none;">
            <div style="position: relative;">
                <img src="{% static 'images/ellipse.png' %}"/>
                <img src="{% static 'images/updates_icon.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
            </div>
            <div class="text-main-button">Updates</div>
        </a>

    </div>
{% endblock %}



{% block content %}




<div class="col-10" >
    <ul class="nav nav-tabs nav-fill custom-tabs" id="myTabs" role="tablist">
        <li class="nav-item mr-5">
            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
                <img class="mr-2" src="{% static 'images/add_order.png' %}"/>
                Добавить заказ
            </a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
                <img class="mr-2" src="{% static 'images/list_orders.png' %}"/>
                Недавние заказы
            </a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
                <img class="mr-2" src="{% static 'images/all_orders.png' %}"/>
                К списку всех заказов
            </a>
        </li>
    </ul>
</div>



<div class="tab-content custom-tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">

        <div class="col-12 col-md-5 mt-5">
            <div class="col-12 col-md-12 ml-5">
                <div class="d-flex flex-column align-items-center">
                    <a class="m-4 p-3 btn-custom-home w-100 text-center" href="#">Создать новый заказ</a>
                    <a class="m-4 p-3 btn-custom-home w-100 text-center" href="#">Изменить существующий</a>
                    <a class="m-4 p-3 btn-custom-home w-100 text-center" href="#">Удалить заказ</a>
                </div>
            </div>
        </div>
        
        
    </div>

    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
        Содержимое для Вкладки 2 здесь.
    </div>

    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
        Содержимое для Вкладки 3 здесь.
    </div>
</div>


    
{% endblock %}