<!-- home_page.html -->

{% extends 'base.html' %}
{% load static %}











{% block header %}
    Домашняя страница
{% endblock %}







{% block menu %}
    <div class="col-12 d-flex flex-column">

      <a href="{% url 'home_page' %}" class="d-none d-sm-flex flex-column align-items-center mb-3" style="text-decoration: none;">
          <div style="position: relative;">
              <img src="{% static 'images/active_ellipse.png' %}"/>
              <img src="{% static 'images/home_icon.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
          </div>
          <div class="text-main-button">Home</div>
      </a>

      <a href="{% url 'clients_page' %}" class="d-none d-sm-flex flex-column align-items-center mb-3" style="text-decoration: none;">
          <div style="position: relative;">
              <img src="{% static 'images/ellipse.png' %}"/>
              <img src="{% static 'images/clients_icon.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
          </div>
          <div class="text-main-button">Clients</div>
      </a>

      <a href="{% url 'updates_page' %}" class="d-none d-sm-flex flex-column align-items-center mb-3" style="text-decoration: none;">
          <div style="position: relative;">
              <img src="{% static 'images/ellipse.png' %}"/>
              <img src="{% static 'images/updates_icon.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
          </div>
          <div class="text-main-button">Updates</div>
      </a>

    </div>
{% endblock %}



{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="successModalLabel">Заказ создан</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Заказ успешно создан!
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}

{% if messages %}
  <script>
    $(document).ready(function() {
      $('#successModal').modal('show');
      setTimeout(function() {
        $('#successModal').modal('hide');
      }, 1000);
    });
  </script>
{% endif %}


<div class="col-10" >
    <ul class="nav nav-tabs nav-fill custom-tabs" id="myTabs" role="tablist">
        <li class="nav-item mr-5">
            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
                <img class="mr-2" src="{% static 'images/add_order.png' %}"/>
                Добавить заказ
            </a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
                <img class="mr-2" src="{% static 'images/list_orders.png' %}"/>
                Недавние заказы
            </a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
                <img class="mr-2" src="{% static 'images/all_orders.png' %}"/>
                К списку всех заказов
            </a>
        </li>
    </ul>
</div>



<div class="tab-content custom-tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">

        <div class="col-12 col-md-5 mt-5">
            <div class="col-12 col-md-12 ml-5">
                <div class="d-flex flex-column align-items-center">
                    <a class="m-4 p-3 btn-custom-home w-100 text-center" href="{% url 'create_new_order' %}">Создать новый заказ</a>
                    <a class="m-4 p-3 btn-custom-home w-100 text-center" href="#">Изменить существующий</a>
                    <a class="m-4 p-3 btn-custom-home w-100 text-center" href="#">Удалить заказ</a>
                </div>
            </div>
        </div>
        
        
    </div>

    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">

      <div class="mt-4" id="accordion">
        {% for filter_order in filters_orders %}
        <div class="card mb-3 custom-accordion-tab">
            <div class="card-header custom-accordion-tab" id="heading{{ forloop.counter }}">
                <h5 class="mb-0">
                    <button class="custom-btn-filter" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                      
                        <div class="row">
                          <div class="col-1">
                            <img src="{% static 'images/rectinge.png' %}"/>
                          </div>
                          <div class="ml-3">
                            <div class="">{{ filter_order.title }}</div>
                          </div>
                        </div>
                      
                    </button>
                </h5>
            </div>

            <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                <div class="card-body">

                  {% for item in filter_order.content %}

                  <div class="order-item col-10 offset-1 mt-3 p-3">
                    <div class="row d-flex align-items-center justify-content-between">
          
                      {% if item.state_order.title == 'Выполнен' %}
                        <img class="col-1" src="{% static 'images/ok.png' %}" alt="..."/>
                      {% else %}
                        <img class="col-1" src="{% static 'images/not_ok.png' %}" alt="..."/>
                      {% endif %}
          
                      <a href="#" class="col-5 name-order" style="font-size: 1.5rem;">{{ item.title_order }}</a>
          
                      <div class="col-2" style="font-size: 1.5rem;">{{ item.end_at }}</div>
                    
          
                      {% if item.client.loyalty == '1' %}
                          <img class="col-1" src="{% static 'images/p1.png' %}"/>
                      {% elif item.client.loyalty == '2' %}
                          <img class="col-1" src="{% static 'images/p2.png' %}"/>
                      {% elif item.client.loyalty == '3' %}
                          <img class="col-1" src="{% static 'images/p3.png' %}"/>
                      {% endif %}
                    </div>
                  </div>

                  {% endfor %}




                  
                </div>
            </div>
        </div>
        {% endfor %}
      </div>

    </div>

      <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
        <div class="col-10 offset-1 mt-3 p-3">
          <div class="row d-flex align-items-center justify-content-between">
            <div class="col-6 ml-2">
              <div class="col-6">
                <form>
                  <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Последние 5 заказов</option>
                      <option>Последние 20 заказов</option>
                      <option>Последние 30 заказов</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-1" style="font-size: 1.3rem;">Дедлайн</div>
            <div class="col-1" style="font-size: 1.3rem;">Приоритет</div>
          </div>
        </div>



        {% for order in orders %}
        <div class="order-item col-10 offset-1 mt-3 p-3">
          <div class="row d-flex align-items-center justify-content-between">

            {% if order.state_order.title == 'Выполнен' %}
              <img class="col-1" src="{% static 'images/ok.png' %}" alt="..."/>
            {% else %}
              <img class="col-1" src="{% static 'images/not_ok.png' %}" alt="..."/>
            {% endif %}

            <a href="#" class="col-5 name-order" style="font-size: 1.5rem;">{{ order.title_order }}</a>

            <div class="col-2" style="font-size: 1.5rem;">{{ order.create_at }}</div>
          

            {% if order.client.loyalty == '1' %}
                <img class="col-1" src="{% static 'images/p1.png' %}"/>
            {% elif order.client.loyalty == '2' %}
                <img class="col-1" src="{% static 'images/p2.png' %}"/>
            {% elif order.client.loyalty == '3' %}
                <img class="col-1" src="{% static 'images/p3.png' %}"/>
            {% endif %}
          </div>
        </div>

        {% endfor %}
      </div>
</div>


    
{% endblock %}