<!-- create_new_client.html -->

{% extends 'base.html' %}
{% load static %}

{% block header %}
    Новый клиент
{% endblock %}

{% block menu %}
    <div class="col-12 d-flex flex-column align-items-center">

        <a href="{% url 'home_page' %}" class="d-none d-sm-flex flex-column align-items-center mb-3" style="text-decoration: none;">
            <div style="position: relative;">
                <img src="{% static 'images/active_ellipse.png' %}"/>
                <img src="{% static 'images/home_icon.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
            </div>
            <div class="text-main-button">Home</div>
        </a>

        <a href="{% url 'clients_page' %}" class="d-none d-sm-flex flex-column align-items-center mb-3" style="text-decoration: none;">
            <div style="position: relative;">
                <img src="{% static 'images/ellipse.png' %}"/>
                <img src="{% static 'images/clients_icon.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
            </div>
            <div class="text-main-button">Clients</div>
        </a>

        <a href="{% url 'updates_page' %}" class="d-none d-sm-flex flex-column align-items-center mb-3" style="text-decoration: none;">
            <div style="position: relative;">
                <img src="{% static 'images/ellipse.png' %}"/>
                <img src="{% static 'images/updates_icon.png' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
            </div>
            <div class="text-main-button">Updates</div>
        </a>

    </div>
{% endblock %}

{% block content %}
<div class="col-12 col-md-5 mt-5"></div>
<div class="col-12 col-md-5 ml-5">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-custom">Создать</button>
    </form>
</div>
</div>
{% endblock %}